html,
body,
#root {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.grid-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  text-align: center;
}


.wrapper {
  min-height: 100vh;
  border: solid 1px #000;
  /* top, right, bottom, left */
  margin: 0px 15em 0px 15em;
  /* padding-bottom: 60px; */
  position: relative;
}

