@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500&display=swap');


html,
body,
#root {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  background-color: #ffffff;
  border: none;
}

.gridContainer {

}

.grid-item {
  padding: 20px;
  /* text-align: center; */
}

#col1 {
  border: none;
}

#col2 {
  border: none;
}

#col3 {
  border: none;
}

.wrapper {
  min-height: 100vh;
  /* top, right, bottom, left */
  margin: 0px 15em 0px 15em;
  /* padding-bottom: 60px; */
  position: relative;
}


button:hover {
  background-color: #F86FB5;
  color: #0B264E;
  border: #0B264E;
}

.gallery-title {
  text-align: left;
  font-size: 33px;
  font-weight: 700;
}