/* .navContainer {
  margin-left: 15em;
    margin-right: 15em;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: solid 1px #000; */
  }
  
  .navLink {
    padding-right: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Baskevile', serif;
    font-style: italic;
  }

  .navLink:hover {
    color: #F86FB5;
    /* background-color: #0B264E; */
  }

  .navLink:active {
    color: #F86FB5;
    background-color: #0B264E;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .dropdown-content a:hover {
    background-color: #FFA07A;
  }

  
 .navbar-end {
  display: flex;
  flex-direction: row;
 } 

 .loginBtn {
  cursor: pointer;
  font-weight: 200;
 }
 
 .loginBtn:hover {
  color: #F86FB5;

 }
  
 
  