.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #000;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .dropdown-content a:hover {
    background-color: #FFA07A;
  }

  
  
 
  
 
  