.showCard {
    border: solid 1px #000;
}

.iconContainer {
    display: flex;
    justify-content: end;
    padding-right: 8px;
    padding-top: 3px;
    cursor: pointer;
    /* align-items: center; */
}