.image-container {
  text-align: center;
  width: 1000px;
  height: 200px;
  background-color: #C75A92;
  display: flex;
  align-items: center
}

.forum-title {
    font-size: 60px;
    font-weight: bold;
    color: #0a2b5c;
}

.title-header {
    color: #0a2b5c;
    font-size: 25px;
    font-weight: 200;
}
/* .text-overlay {
  position: absolute;
  top: 80px;
  right: 15px;
  font-size: 25px;
} */

.btn-container {
    justify-content: end;
    
}

.new-post-btn {
    border-radius: 10px;
    font-weight: 200;
}

.new-post-btn:hover {
    background-color: #ffffff;
    color: #f86fb5;
    border: solid black 1px;
}

.forum-main-container {
  align-content: center;
  justify-content: center;
  border: solid black 1px;
  border-radius: 10px;
}

.forum-nav-outter {
  display: flex;
  justify-content: center;
}
.forum-nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.left-forum-nav li,
.right-forum-nav li {
  display: inline-block;
  font-weight: 200;
}

.left-forum-nav li a,
.right-forum-nav li a {
  display: block;
}

.left-forum-nav li {
  padding-right: 24px;
}

a:hover {
  color: #f86fb5;
}

.forum-search-btn:hover {
    color: #f86fb5;
}

.f-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#showThumbnail {
  justify-content: start;
}

.showTitle {
  font-weight: 200;
  font-size: 20px;
}

.follow {
  font-weight: 200;
}

.viewCount {
  font-weight: 200;
}

.commentCount {
  font-weight: 200;
}
